*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 8px 16px;
  font-family: 'Poppins', sans-serif;
}

input, select, button {
  font-family: 'Poppins', sans-serif;
  outline: none;
  min-width: 240px;
}

.title-img {
  display: block;
  margin: 12px auto 0;
  max-width: 100%;
}

.bolder {
  font-weight: bolder;
  color:#E48000;
}

.normal {
  font-weight: normal;
  color: #000;
}

.hidden {
  display: none!important;
}

.character-select-div, .game-div, .game-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 12px 12px;
  margin: auto;
  max-width: 450px;
  border: 1px solid #FC8D00;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  text-align: center;
}

.game-end {
  position: absolute;
  margin: 30% auto;
  background-color: #fff;
  z-index: 999;
  font-size: 1.3em;
  box-shadow: 0 0 900rem 900rem rgba(0,0,0,0.5);
}

.character-select-div button {
  margin-top: 12px;
}

.game-div {
  margin-top: 12px;
}

.game-div p:first-of-type {
  font-size: 1.1em;
}

.game-text, .game-fight-infos {
  margin: 6px 0 18px;
  padding: 0 0 6px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.game-btns button:first-of-type {
  margin-bottom: 6px;
}

#enemies-target {
  margin-bottom: 6px;
}

.game-enemies-infos {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 2px 12px;
  margin-bottom: 4px;
}

button {
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #fff;
  border: 2px solid #E48000;
  color: #E48000;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 4px 12px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
}

button:hover {
  background-color: #E48000;
  color: #fff;
}